@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
primary font: 
font-family: 'Kodchasan', sans-serif;
welcome page title font:
font-family: 'Montserrat Alternates', sans-serif; 

EEE0CB - champagne  BAA898 - grullo  C5351B - rosso corsa  004643 - warm black  333847 - charcoal  0081AF - cg blue

*/

.layout {
  font-family: 'Kodchasan', sans-serif;
}

.layout{
  background-color: #EEE0CB;
  background-size: 100% 100%;
}

.header{
  background-color: #BAA898;
}