.welcomePage{
    background-image: url('../../assets/Welcome2.png');
    background-size: cover;
    height: 100vh;
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
}

.welcomePage h1{
    font-size: 5em;
    font-weight: 400;
}

.welcomePage h5 {
    font-size: 1em;
    font-weight: 300;
}

.bold{
    cursor: pointer
}